.app-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.hamburger {
    display: none; 
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
}

.hbg {
    width: 40px;
    height: 6px;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: black;
    opacity: 0.7;
}

@media (max-width: 1200px) {
    /* 1. The Sidebar logic */
    .sidebar {
        display: none; /* Hidden by default on mobile */
        position: fixed;
        left: 0;
        top: 0;
        width: 260px;
        height: 100vh;
        z-index: 9999;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }

    .sidebar.active {
        display: block; 
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .hamburger.hidden {
        display: none !important; 
    }

    .close-sidebar {
        display: block; 
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 35px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        line-height: 1;
}
}

